.task-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.task-form label {
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    text-align: left;
    margin-block: 1rem 0;
}
.task-form input, .task-form select {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}
.task-form input:hover, .task-form select:hover {
    border-color: #646cff;
}
.task-form input:focus, .task-form select:focus {
    outline: none;
    border-color: #646cff;
}
.task-form button {
    width: 100% !important;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #646cff;
    border: 1px solid #ccc;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.25s;
    cursor: pointer;
}
.task-form button:hover {
    background-color: green;
    color: #fff;
}
.task-form button:disabled {
    background-color: #ccc;
    color: #333;
    cursor: not-allowed;
}
.task-form button:disabled:hover {
    background-color: #ccc;
    color: #333;
    cursor: not-allowed;
}
.task-form p.error {
    color: red;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: inherit;
    text-align: left;
    margin: 0;
}

.task-form input.error, .task-form select.error {
    border-color: red;
    border-width: 2px;
}