.task-details-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
    min-width: 90vw;
    padding: 1rem;
}
.task-details-page button {
    width: 50%;
    margin-top: 1rem;
    padding: 0.5rem;
}
.task-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 1rem;
}
.task-details-buttons {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.task-details h1 {
    font-size: 2rem;
    font-weight: 500;
    font-family: inherit;  
    text-align: left;
    margin-block: 1rem 0.5rem;
}

.task-details p {
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    text-align: left;
    margin-block: 0.5rem 0;
    display: flex;
    gap: 0.5rem;
}
.task-details p strong {
    font-weight: 600;
    font-family: inherit;
    text-align: left;
}

.task-details button {
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
}
.task-details button.delete-button {
    background-color: red;
    color: #fff;
}
.task-details button.update-button {
    background-color: blue;
    color: #fff;
}