.update-task-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
    min-width: 90vw;
    padding: 1rem;
}
.update-task-page-header {
    display: flex;
    gap: 1rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.update-task-page-header h1 {
    text-align: left;
    margin-block: 1.5rem 0.5rem;
}
.update-task-page button {
    width: 50%;
    margin-top: 1rem;
    padding: 0.5rem;
}   